.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #edf0f1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.logo {
    height: 200px;
    width: 200px;
    cursor: pointer;
}

main, .about, .form {
    margin: 25px;
    color: #24252A;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    box-sizing: border-box;
    line-height: 30px;
}

.form form .user-details {
    justify-content: space-between;
}

form .user-details .input-box { 
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 2-px);

}
.user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;

}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    font-size: 16px;
}

.form .submit-button {
    height: 50px;
    width: 100px;
}

ul, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;

}

.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9
}
#contact {
    position: relative;
    
}
#contact::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
#contact:hover::after {
    transform: scaleX(1);
    color: #0088A9;
    transform-origin: left;
    
}

.about {
    margin-top: 400px;
    justify-content: left;
    margin-right: 50%;
    margin-bottom: 200px;
}
.about p {
    line-height: 25px;
    margin-left: 10%;
}
.about h2 {
    padding: 50px;
}
.about img {
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    height: 400px;
    width: 500px;
}
